@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');



/*Código CSS base para todas páginas*/
*{
  margin: 0;
    
}

main{
    min-height: 1300;
}

body{
    background-color: #F5F1EE;
}

header{
    display:flex;
    background-color: #F5B987;
    padding-top: 5px;
    padding-left: 20px;
    border-bottom: solid rgba(0, 0, 0, 0.199);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#checkbox{
    appearance: none;
}



header h1{
    color: rgb(76, 62, 39)
}

header div#nome{
    display: flex;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    width: 100%;
    justify-content: space-evenly;
}




header nav{
    align-content: center;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Playpen Sans', cursive;
    font-weight: bold;
}

header nav a{
    text-decoration: none;
    color:black;
    padding: 10px;
    border-radius: 10%;
    border-width: 1px;
    
}

header nav a:hover{
    background-color: #a87e5c63;
    transition: 0.5s;
    
}   

.prev, .next {
    font-size: 40px;
    line-height: 80px;
    cursor: pointer;
  }
  
  /* Centraliza e espaça as setas */
  .prev {
    margin-right: 40px;
  }
  
  .next {
    margin-left: 40px;
  }
  
  /* Ajusta o estilo do contêiner do slideshow */
  .slideshow-container {
    position: relative;
    margin-top: 20px; /* Ajuste conforme necessário para espaçamento do conteúdo acima */
    margin-bottom: 20px; /* Ajuste conforme necessário para espaçamento do conteúdo abaixo */
    text-align: center; /* Centraliza as setas */
  }
  

  

main{
    padding: 15px;
    max-width: 985px;
    margin: 0 auto;
    border-left: solid rgba(0, 0, 0, 0.027);
    border-right: solid rgba(0, 0, 0, 0.027);
}

main h1{
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin: 30px;
    color: #7a5242;
    
}

main p{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    
}



main img{
    box-shadow: rgba(0, 0, 0, 0.603) 2px 3px 3px;
    border-radius: 10%;
}

main h2{
    font-family: 'Handlee', cursive;
    font-size: 2em;
    color: #7a5242;
}

a#mail{
    color: black;
}

#mail:hover{
    color: blue;
}

footer{
    background-color: #7a5242;
    border-top: rgba(0, 0, 0, 0.281) solid;
    margin-top: 50px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: #c7b4ac;
}

footer img#logo{
    size: 100px;
    
}

.fs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.fs h3{
    padding: 10PX;
    font-family:'Playpen Sans', cursive;
    margin-top: 0px;
    margin-bottom: 0px
}

.fs li{
    font-family: Arial, Helvetica, sans-serif;
}

.fs div#redes img{
    display: inline-block;
    margin:  10px;
    text-decoration: none
}

.fs div#redes img:hover{
    transform: scale(1.1);
    transition:0.3s;
    
}

/*Código CSS Home*/



main#home p{
    text-indent: 20px;
}
div#home1{
    margin-top: 50px;
    display: flex;
    align-items: center;
}

div#home2{
    margin-top: 50px;
    display: flex;
    align-items: center;
}

div#home3{
    margin-top: 50px;
    display: flex;
    align-items: center;
}




/*Código CSS Relatos*/

main#rel p{
    text-indent: 20px;
}

.rel{
    margin-top: 20px;
}

.rel img{
    float: right;
}




/*Código CSS sensibilização*/

main#sens p{
    text-indent: 20px;
}

h3{
    font-family: 'Handlee', cursive;
    font-size: 1.5em;
    font-weight: normal;
}

h3>a{
    text-decoration: none;
}

h3>a:hover{
    color: red;
}

/*Código CSS apoie*/

div#lap{
    display: flex;
    flex-direction: column;
    
}

div#lap img,h3 {
    font-weight: bold;
    padding-top: 10px;
    margin: auto;
}


/*Código CSS adote*/

main#adote li{
    font-family: 'Handlee', cursive;
    font-size: 1.3em;
    font-weight: normal;
}

main#adote h3{
    font-size: 1.3rem;
}

main#adote p{
    font-size: 1rem;
}

/*Código CSS Nossos Animais*/

main#animais{
    border: none;
}

#lista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    
    
}

#lista p{
    font-family: 'Handlee', cursive;
    font-size: 1.3em;
    font-weight: bold;
}

div.item{
    text-align: center;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width:749px) {
    #lista{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        
    }
}

/*Código CSS Contacto*/

main#cont p{
    font-family: 'Handlee', cursive;
    font-size: 1.3em;
    font-weight: normal;
}

form{
    max-width: 600px;
    border-top: solid rgba(0, 0, 0, 0.068);
    padding-top: 20px;
}

label{
    display: block;
    margin: 5px;
}

input#imensagem{
    text-align: justify;
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button:hover {
    background-color: #8083809d;
}

main#cont ul{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main#cont h2{
    border-top: solid rgba(0, 0, 0, 0.226);
    padding-top: 30px;
}

button{
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer
}

main#cont>div#contredes{
    display: flex;
    padding-left: 20px;
}

div#contredes img{
    box-shadow: none;
    margin-right: 30px;
}

@media screen and (max-width:749px) {

    /*Estilos para mobile*/

    main{
        padding: 10px;
    }
   
    h1, h2, h3, p {
        text-align: center;
    }

    p{
        font-size: 1.3em;
    }
    
    header{
            display: flex;
            align-items: center;
            justify-content: center;
        }

    #checkbox{
        appearance: none;
        width: 2rem;
        height: 1.5rem;
        background: url(imagens/hamburguer.png) center/cover;
        transition: .3s ease;
    }

    #checkbox:checked{
        background: url(imagens/close.png) center/cover;
        width: 1.3rem;
        height: 1.3rem;
        transform: rotate(180deg);

    }
    header img{
        height: 100px;
    }

    header nav>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav{
        margin-left: 0px;
    }

    #menu{
        height: 0;
        overflow: hidden;
    }

    header nav a:hover{
        background-color: rgba(133, 87, 44, 0.322);
    }

    div#home1{
        
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    div#home2{
        
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        
    }
    
    div#home3{
        
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    form{
        border-top: solid rgba(0, 0, 0, 0.068);
        padding-top: 20px;
    }
    

}